# big table processing (BTP) environemnt variables
BTP_TABLE_NAME=places_pilot_area2
BTP_CSV_PATH=TABELAO_2019_12_11.csv

# PostgreSQL connection
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=15432
PGDATABASE=pauliceia
